{% load static %}
{% load tags %}
<section id='pagination' class="mb-100">
    <div>
        <nav aria-label="Page navigation example" style="text-align: center;">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" >&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" >&lsaquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">&lsaquo;</a>
                </li>
                {% endif %}
                
                {% for num in page_obj.number|limit_page:page_obj.paginator.num_pages %}
                {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}
    
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">&rsaquo;</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>
