{% extends 'base/base.html' %}
{% load static %}

{% block title %}
About Us
{% endblock title %}

{% block header %}
About Us
{% endblock header %}

{% block content %}
<section class="about-shot-info section-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mt-20">
				<h2>We Create Website<br> and technology application</h2>
				<p>Our story TTECH is a website design and development company (founded in 2021). We provide a wide range of development services, especially e-commerce website development and e-commerce apps development. Besides, we provide solution that solves business problem.</p>
				
			</div>
			<div class="col-md-6">
				<img class="img-fluid" src="{% static 'ttechInfo/images/company/company-image.jpg' %}" alt="">
			</div>
		</div>
	</div>
</section>



<section class="company-mission section-sm bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Our Mission</h3>
				<p>To help all of the e-commerce businesses worldwide operate efficiently and effectively, without barriers.</p>
				<img src="{% static 'ttechInfo/images/company/company-image-2.jpg' %}" alt="" class="img-fluid mt-30">
			</div>
			<div class="col-md-6">
				<h3>Our Vision</h3>
				<p>To be the world’s leading e-commerce solution provider.</p>
				<br>
				<img src="{% static 'ttechInfo/images/company/company-image-3.jpg' %}" alt="" class="img-fluid mt-30">
			</div>
		</div>
	</div>
</section>



<section class="promo-video section-sm">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-12">
				<div class="title text-center">
					<h2>TTECH Video</h2>
					<p>Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu.Sed condimentum iaculis ex,
						in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a risus luctus dignissim.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
			<div class="col-md-8 mx-auto">
				<iframe src="https://player.vimeo.com/video/51119176" width="100%" height="360" frameborder="0"
					webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>



	<!--
Start Call To Action
==================================== -->
<section class="call-to-action-2 section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a tempor eros. Pellentesque elementum nulla sed justo tempor posuere sit amet sit amet ligula.</h2>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->



<section class="section grallery">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Sneak Peak Gallery</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore numquam esse vitae recusandae qui aspernatur, blanditiis, laboriosam dignissimos dolore facere provident ex? Porro, praesentium consectetur tempore. Nulla, error eius dolorem.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="company-gallery">
					<img src="{% static 'ttechInfo/images/company/gallery-1.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-2.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-3.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-4.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-5.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-5.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-1.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-2.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-3.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-4.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-5.jpg' %}" alt="">
					<img src="{% static 'ttechInfo/images/company/gallery-5.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>



<!-- Start Our Team
=========================================== -->
<section class="team" id="team">
	<div class="container">
		<div class="row justify-content-center">

			<!-- section title -->
			<div class="col-12">
				<div class="title text-center ">
					<h2>Our Team</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quasi tempora obcaecati, quis
						similique quos.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->

			

			<!-- team member -->
			<div class="col-md-4 col-sm-6 ">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="{% static 'ttechInfo/images/team/member-1.jpg' %}" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="clearfix">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Pham Ngoc Vu</h3>
						<span>Web Developer</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
					</div>
					<!-- /member name & designation -->
				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-md-4 col-sm-6 ">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="{% static 'ttechInfo/images/team/member-3.jpg' %}" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="clearfix">
								<li><a href="https://www.facebook.com/vu.phamngoc.739/"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Truong Dinh Truong</h3>
						<span>Web Developer</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
					</div>
					<!-- /member name & designation -->

				</div>
			</div>
			<!-- end team member -->
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->






<!--
Start Call To Action
==================================== -->
<section class="call-to-action section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Let's Create Something Together</h2>
				<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin bibendum auctor, <br> nisi elit consequat ipsum, nesagittis sem nid elit. Duis sed odio sitain elit.</p>
				<a href="" class="btn btn-main">Contact Us</a>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->
{% endblock content %}

{% block js %}

{% endblock js %}
