{% extends 'base/base.html' %}
{% load static %}
{% load tags %}

{% block title %}
Điều khoản    
{% endblock title %}

{% block header %}
Điều khoản
{% endblock header %}

{% block content %}
<section id='license-area'>
    <div class="container">
        <div class='content-container'>
            <div id='rules_area'>
                <embed src="{% static 'license/fake_rules.pdf' %}" width="100%" height="1000px" type="application/pdf">
            </div>
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="checkbox" name="agree" id="agree_checkbox" required value="Đồng ý">
                    <label for="agree_checkbox" style="font-weight: normal;">Tôi đồng ý với điều khoản trên</label>
                    <div class='btn-area'>
                        <a href="{% url 'project:create-project' %}"  id='back-btn'>Back</a>
                        <button type="submit" class='button' id='next-btn' style='float:right' hidden>Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}
<script>
    document.getElementById('agree_checkbox').onchange = nextButtonDisplay;
        
    function nextButtonDisplay(){
        if (document.getElementById('agree_checkbox').checked === true){
            document.getElementById('next-btn').hidden = false;
        }
        else{
            document.getElementById('next-btn').hidden = true;
        }
    }
</script>
{% endblock js %}